.userMenu {
  display: flex;
  min-width: max-content;
  align-items: center;
  gap: 2px;

  @media screen and (max-width: 480px) {
    display: block;
  }
}
.welcome {
  display: flex;
  align-items: center;
  margin: 4px 0 8px;
}
